<div class="container">
  <div class="row">
    <div class="col-2">
      <button (click)="onLogin()" class="btn btn-primary">Login</button>
    </div>
    <div class="col-2">
      <button (click)="onGetCalendar()" class="btn btn-primary">Load Calendar</button>
    </div>
    <div class="col-2">
      <button (click)="onLogout()" class="btn btn-primary">Logout</button>
    </div>
  </div>
  <div class="row" style="max-height: 600px;">
    <div class="col">
      <div class="calendar-wrapper">
        <full-calendar
          defaultView="timeGridWeek"
          [plugins]="calendarPlugins"
          [allDaySlot]="false"
          height="parent"
          [buttonText]="{today: 'This week'}"
          [selectable]="true"
          (select)="onSelect($event)"
          [events]="calendarEvents"
        ></full-calendar>
      </div>
    </div>
  </div>
</div>
